<div class="footer__inner" style="margin-top: 32px; text-align: center; color: #bdbdbd; font-size: 1em;">
  <span>
    &copy; 2025 FixMissingDLL.com · Missing DLL Fixer · Game Runtime Library · DLL Error Fix · DirectX · VC++ · .NET Framework · 
    <a href="/security/" style="color:#059669;text-decoration:underline;">Security Statement</a>
    <br>
    Contact us: <a href="mailto:FixMissingDLL@gmail.com" style="color:#059669;text-decoration:underline;">FixMissingDLL@gmail.com</a>
  </span>
</div>
